<h1>The Nature of Code</h1>

<ol>
  <li>
    <ul>
      <li>
        <a href="01-circles">
          Colorful Circles
        </a>
      </li><li>
        <a href="01-hover-walk">
          Hover Walker
        </a>
      </li>
      <li>
        <a href="01-jump-walk">
          Walk Jumper
        </a>
      </li>
    </ul>
  </li>
</ol>

<style>
  a {
    color: white;
  }
</style>
